@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
    scroll-behavior: smooth;
}

.app {
  /* width: 80%; */
  width: 100%;
  margin: auto;
  max-width: 1440px;
  /* background-color: darkgoldenrod; */
}

body {
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    height: auto;
    /* background-color: aquamarine; */
}

a {
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
    color: inherit;
}

.h1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 67px;
}

.h1--sub {
    font-family: "Nunito Sans", sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 21px;
}

.h3 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 38px;
}

.h5 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
}

.h6 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0;
}

.space {
    height: 1086px;
    width: 40px;
    /* background-color: blueviolet; */
}

.space__more {
    height: 2360px;
    width: 40px;
    /* background-color: rgb(21, 224, 82); */
}

.input__form {
    padding: 15px 10px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 14px;
    background-color: 1px solid #D2D2D7;
    width: 320px;
    margin: auto;
}

.form__btn {
    padding: 15px 10px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: black;
    border: none;
    width: 320px;
    margin: auto;
}

.form__btn:hover {
    background-color: #FF421D;
}
